:root {
    --p-color: #08466f;
    --s-color: #d49700;
    --g-color: #637e32;
    --grey-color: #6c6c6c;
    --tb-color: #111;
    --blue: #209ADA;
    --light-blue: #8ab6d1;
}

html,
body {
    height: 100%;
}

body {
    font-weight: 400;
    background: white;
    font-size: 16px;
    color: var(--tb-color);
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    transition: 0.2s all ease;
    color: var(--p-color);
}

.btn-primary,
badge-primary,
.bg-primary,
.card-primary:not(.card-outline) > .card-header {
    background-color: var(--p-color);
    border-color: var(--p-color);
}

/* .card-body {
    border: solid 1px #ccc;
} */

.text-primary {
    color: var(--p-color);
}
.VerifierColor {
    background-color: lightgoldenrodyellow !important;
}
img {
    max-width: 100%;
}

.brand-link .brand-image {
    margin-top: unset;
    width: 33px;
}

.content-wrapper {
    /*background-color: #f7f7f7;*/
    background-color: transparent;
    background: url(../img/bg11.png);
    background-size: cover;
}

.small-box h3 {
    font-weight: normal;
}

.dropdown-menu-lg {
    min-width: unset;
}

.nav-sidebar > .nav-item .nav-icon {
    color: var(--info);
    font-size: 12px !important;
}


/*form design start*/
.form-horizontal.form-bordered {
    border: 1px solid rgba(0, 0, 0, 0.27);
}

div.form-horizontal > .form-group.row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
    margin: 0;
    /* background: #f7f7f7; */
}

.control-label {
    text-align: left !important;
    margin: 0;
    padding: 5px 15px !important;
    border-right: 0px solid rgba(0, 0, 0, 0.27);
    border-left: 0px solid rgba(0, 0, 0, 0.27);
    font-weight: 500 !important;
    /*background: #f6f6f6;*/
    background: #e9f1fb;
    /* font-size: 14px; */
    color: var(--p-color);
}

/*.control-label span {
    font-size: 12px !important;
    font-weight: 600;
    vertical-align: text-bottom;
}*/
.control-form {
    line-height: 1.5;
    padding: 5px 15px;
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.27);
}

/* div.form-horizontal.form-bordered .form-control {
    border-color: #bbbbbb;
    height: calc(1.5em + 0.50rem + 0px);
    padding: 0.25rem 0.5rem;
    border-radius: 0;
    transition: 0.15s all ease-in-out;
    background: #f9f9f9;
    font-size: 14px;
} */

.control-error {
    padding: 5px 15px;
}

    .control-error span {
        vertical-align: middle;
    }

.error-text {
    font-size: 13px;
    font-weight: 600;
}

/*form design end*/

/*select2 design start*/
.select2-container {
    font-size: 14px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-radius: 0;
    background: #f9f9f9;
    /*min-height: calc(1.5em + 0.50rem + 0px);*/
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid 1px #80bdff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: var(--p-color);
    border-color: var(--p-color);
    padding: 3px 5px 2px 5px;
    margin-top: 7px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
    outline: 0;
    /*min-height: calc(1.5em + 0.50rem + 0px);*/
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white;
    background: red;
    padding: 0px 4px 2px 4px;
    border-radius: 4px;
}

/*.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:1;
    padding-left:0;
    margin-top:-1px;


/*select2 design end*/

/*datepicker design start*/
/* .bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
    font-size: 12px;
} */

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active {
    background-color: var(--p-color);
    color: white;
}

/*datepicker design end*/

/*datatable design start*/
.page-item.active .page-link {
    background-color: var(--s-color);
    border-color: var(--s-color);
}

.page-item .page-link {
    color: var(--p-color);
}

/*datatable design end*/
/* table {
    font-size: 14px;
} */

th {
    font-weight: 600;
}

.login-page,
.register-page {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e9ecef;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; */
    height: 100vh;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.login-box,
.register-box {
    width: 360px
}

td, th {
    vertical-align: middle !important;
}

.bg-warning-light {
    background-color: #fffaec !important;
}

.bg-light2 {
    background-color: #ededed !important;
}

.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: auto;
}

.nav-sidebar .nav-treeview {
    box-shadow: 0 0 6px #898989;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.small-box {
    border-radius: 1.25rem;
    overflow: hidden;
}

    .small-box > .inner {
        padding: 14px 18px;
    }

    .small-box > .small-box-footer {
        padding: 6px 0;
    }

.card, .card-header {
    border-radius: 0;
    overflow: hidden;
}

.small-box p {
    margin-bottom: 0px;
}

.content-header h1 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: normal;
}

.sidebar nav {
    margin-top: 16px;
}

.nav-pills .nav-link {
    font-size: 76%;
    text-transform: uppercase;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto;
}

.layout-navbar-fixed .wrapper .content-wrapper {
    margin-top: calc(2rem + 1px) !important;
}
label:not(.form-check-label):not(.custom-file-label){
    font-weight:200 !important;
}
a:not(.nav-link,.brand-link,.btn,.text-white) {
    text-decoration: underline !important;
}
.content-labelview {
    background: #f8f9fa;
}